body {
  background-color:rgb(195, 144, 174);
  font-family: 'Raleway', sans-serif;
}

footer {
  text-align: center;
  color:white;
}

a:link {
  text-decoration: none;
}

.title {
  padding-bottom:2rem;
  font-weight: 800;
}

.quote-box {
  background-color:white;
  margin-top:7rem;
  margin-bottom:1rem;
  padding:4rem 4rem;
  color:rgb(195, 144, 174);
  border-radius:3px;
}

.lead {
  font-size:1.75rem;
}

.quote-btn {
  cursor: pointer;
  background-color:rgb(195, 144, 174);
  color:white;
}

.fa-twitter-square {
  color:rgb(195, 144, 174);
  cursor:pointer;
}

.button-row {
  margin-top:2rem;
  display:block;
}

.footer-name {
  color:white;
}

.footer-name:hover {
  color:rgb(235, 235, 235);
}

@media (max-width: 600px) {
  .lead {
    font-size: 1rem;
  }
  .quote-author {
    font-size:.75rem;
  }
  .title {
    font-size:1.6rem;
  }
  .quote-btn {
    font-size:.75rem;
  }
  .fa-3x {
    font-size:2.5rem;
  }
}
